<% include ../partials/header %>

<h2><%=artist.name%></h2>

<img src="<%=artist.imageUrl%>" alt="" style="width: 500px">

<p><a class="btn btn-xs btn-warning" href="/artists/<%= artist._id %>/edit">Edit</a></p>

<%# This button needs to go in a form because browsers don't support DELETE requests %>
<form class="delete-form" action="/artists/<%= artist._id %>?_method=DELETE" method="POST">
    <button class="btn btn-xs btn-danger">Delete</button>
</form>

<p><a class="btn btn-xs btn-primary" href="/artists/<%= artist._id %>/albums/new">Add an Album</a></p>

<% artist.albums.forEach(function(album){ %>
    <% console.log(album.title); %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <a href="/artists/<%=artist._id%>/albums/<%=album._id%>"><img style="width: 200px" src="<%album.artworkUrl%>"></a>
            <div class="caption">
                <a href="/artists/<%=artist._id%>/albums/<%=album._id%>"><h6 style="color: black"><%=album.title%></h6></a>
            </div>
        </div>
    </div>
<%})%>

<p><a href="/artists/">Go Back</a></p>

<% include ../partials/footer %>